{%extends "base.html"%}

{%block content %}
<div class="login-page">
  <div class="form">
    <form class="register-form" method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <input type="text" placeholder="username" name="username"/>
      <input type="text" placeholder="email address"  name="email"/>
      <input type="text" placeholder="user type (user/admin)" name="type"/>
      <input type="password" placeholder="password" name="password"/>
      {% if valid == False %}
        ciao
      {% endif %}
      <button type="submit">create account</button>
      <p class="message">Already registered? <a href="/the/login">Log in</a></p>
    </form>

  </div>
</div>
{%endblock%}